<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Torch" value="https://pkgs.dev.azure.com/torch-int/Torch/_packaging/Default/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Torch>
      <add key="Username" value="fafaisal@microsoft.com" />
      <add key="ClearTextPassword" value="wejh6zv6bvfv7us7de6qq5a5df6ykvqkdugrdnvydcf5l7vh7kiq" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </Torch>
  </packageSourceCredentials>
</configuration>
